body {
  padding: 0;
  margin: 0;
  background: #f2e5bc;
  font-family: "Open Sans", Helvetica, sans-serif;
}

.container {
  background: #fbf1c7;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 640px) {
  .container {
    width: 98%;
  }
  .container h1 {
    text-align: center;
  }
}

@media (min-width: 640px) {
  .container {
    width: 74%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 2%;
  }
}

.header {
  font-family: "Righteous";
  font-size: xx-large;
  text-align: center;
	color: #928374;
}

.color0 {
  border-left: 2px solid #98971a;
}

.color1 {
  border-left: 2px solid #cc241d;
}

.color2 {
  border-left: 2px solid #458588;
}

.bold {
  font-weight: bold;
  display: inline;
}

.italic {
  font-style: italic;
}
