body {
	margin: 0 auto;
	max-width: 50em;
	font-family: "Helvetica", "Arial", sans-serif;
	line-height: 1.5;
	padding: 4em 1em;
	color: #555;
}

ul {
	padding: 0;
}
.bold,
.highlight {
	font-weight: bold;
	display: inline;
}
.italic {
	font-style: italic;
}
.right,
.entry .location {
	text-align: right;
}
.font0,
.header-title,
.header-subtitle,
.header-content,
.category-title,
.entry .date,
.entry .sum-up {
	font-family: 'Gentium Basic', serif;
}
.font1,
.entry .description,
.entry .domain,
.entry .location {
	font-family: Noto Sans;
}
.color0,
.header-title,
.category-title {
}
.color1,
.header-content,
.entry .sum-up,
.entry .description,
.entry .domain,
.entry .location {
}
.color2,
.header-subtitle {
}
.color3 {
}
.color4,
.highlight,
.entry .date {
}
.center,
.header-title,
.header-subtitle,
.header-content,
.entry .sum-up {
	text-align: center;
}
.content,
.entry .description,
.entry .domain,
.entry .location {
	font-size: 14px;
}
.progress-bar {
	display: inline-block;
	width: 100%;
	background: #f5f5f5;
	height: 2px;
}
.progress-bar .progress-value {
	background: #fabd2f;
	height: inherit;
}
.entry .sum-up {
	font-weight: bold;
}
.container {
	box-shadow: 0px 0px 128px rgba(1, 1, 1, 0.2);
	margin: 2%;
	margin-left: auto;
	margin-right: auto;
	padding: 2%;
}
@media screen and (min-width: 1080px) {
	.container {
		width: 80%;
	}
}
@media screen and (max-width: 1080px) {
	.container {
		width: 95%;
	}
}
li {
	list-style: none;
	display: block;
	padding: 1%;
	margin: 1%;
}

h1,
h2 {
	margin-top: 1em;
	padding-top: 1em;
	color: #333;
}
