$fg = #ba6c00
$bg = #241d12
$glow = 0.5

body
  padding 0
  margin 0
  background $bg
  font-family Fira Mono, "Open Sans", Helvetica, sans-serif
  background-image url('scanline.png')
  background-repeat repeat
  background-position fixed

.right
  text-align right

.center
  text-align center

.container
  color $fg
  text-shadow 0px 0px 10px alpha($fg, $glow)
  margin 2%
  margin-left auto
  margin-right auto
  width 70%
  padding 2%
  border 2px solid $fg
  box-shadow inset 0px 0px 10px alpha($fg, $glow), 0px 0px 10px alpha($fg, $glow)

li
  list-style none
  display block
  padding 1%
  margin 1%
  border-left 2px solid $fg
  background-image url('scanline.png')
  background-repeat repeat
  background-position fixed

.bold
  font-weight bold
  display inline

.italic
  font-style italic
